{% extends "fbapp/base.html" %}
{% block content %}
	<h1>Campaigns</h1>

	<table style="width:50%">
		<tr>
			<th>Campaign Name</th>
			<th>Campaign ID</th>
			<th>Status</th>
			<th>Action</th>
			<th>Adset</th>
			<th>Action</th>
		</tr>

	{% for post in campaigns %}
		<tr>
			<td>{{ post.name }}</td>
			<td>{{ post.id }}</td> 
			<td>{{ post.status }}</td>
			<td>
				{% if post.status == post.data_1 %}
					<a href="{% url 'update-campaign' post.id post.data_2 %}">Disable</a>
				{% else %}
					<a href="{% url 'update-campaign' post.id post.data_1 %}">Activate</a>
				{% endif %}
			</td>
			<td><a href="{% url 'create-adset' post.id %}">Create Adset</a></td>
			<td><a href="{% url 'delete-campaign' post.id %}">Delete</a></td>
		</tr>
	{% endfor %}
	</table>
{% endblock content %}